.homePage {
    background-color: white;
    height: 100%;
}

.contactBox {
    background-color: #DCD0C1;
    height: 75px;
    width: 98%;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 1px 1px 5px 1px rgba(75, 75, 75, 0.75);
}

.contactButton{
    background-color: #647F94 !important;
    border-color: #647F94 !important;
}

.contactButton:hover {
    background-color: #3e4f5b !important;
    border-color: #3e4f5b !important;
}