@font-face {
  font-family: "Dosis Regular";
  src: url("../assets/font/Dosis-Regular.ttf") format("ttf"),
}

@font-face {
  font-family: "Dosis SemiBold";
  src: url("../assets/font/Dosis-SemiBold.ttf") format("ttf"),
}

html,
body,
#root {
    height: 100%;
    width: 100%;
    /* Système d'urgence */
    overflow-x: hidden;
    overflow-y: hidden;
}

* {
  font-size: 16px;
  font-family: "Dosis Regular";
}
